
<!-- Cart detail -->
    <div class="shop">
        <div class="container">
          <div class="cart">
            <div class="container">
              <div class="cart__table">
                <div class="cart__table__wrapper">
                  <table>
                    <colgroup>
                      <col style="width: 40%"/>
                      <col style="width: 17%"/>
                      <col style="width: 17%"/>
                      <col style="width: 17%"/>
                      <col style="width: 9%"/>
                    </colgroup>
                    {{#if error}}
                      <div><p class="text-danger text-center font-weight-bold pb-3">{{error}}</p></div>
                    {{/if}}
                    <thead>
                      <tr>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#if items}}
                      {{#each items}}
                      
                      <form class="form-cart-item-update" data-id="{{item.id}}">
                  
                      <tr>
                        <td>
                          <div class="cart-product">
                            <div class="cart-product__image"><img src="{{item.smallImagePath}}" alt="Product image"/></div>
                            <div class="cart-product__content">
                              <h5>{{item.category}}</h5><a href="product-detail/{{item.id}}">{{item.name}}</a>
                            </div>
                          </div>
                        </td>
                        <td>{{item.price}}</td>
                        <td>
                              <input type="number" id="quantity{{item.id}}" class="form-control" min="1" max="{{item.stock}}" value="{{quantity}}">
                        </td>
                        <td>{{price}}</td>
                        <td><button type="submit"  class="btn btn-primary -round  cart-button"><i class="fas fa-check"></i></button>
                            <button class="btn -round -red cart-button btn-cart-remove" data-id="{{item.id}}"><i class="fas fa-trash"></i></button>
                        </td>
                      </tr>
            
                      </form>
                      {{/each}}
                      {{/if}}
                      
                    </tbody>
                  </table>
                </div>
                <div class="cart__table__footer"><a href="/"><i class="fal fa-long-arrow-left"></i>Tiếp tục mua hàng</a><button class="btn -red btn-clear-shopping-cart"><i class="fal fa-trash"></i>Clear Shopping Cart</button></div>
              </div>
              <div class="cart__total">
                <div class="row">
                  <div class="col-12 col-md-8">
                    <p class="text-center text-{{couponMessageColor}}">{{couponMessage}}</p>
                    <div class="cart__total__discount">
                      <p>Nhập mã giảm giá</p>
                      <div class="input-validator">
                        <form class="form-apply-coupon" method="POST" action="/cart/coupon?nextURL={{currentURL}}">
                        
                          <input type="text" id="discountCode" name="discountCode" required="true" placeholder="Your code here"/>
                              <button type="submit" class="btn -dark btn-apply-coupon">Áp dụng
                              </button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="cart__total__content">
                      <h3>Giỏ hàng</h3>
                      <table>
                        <tbody>
                          <tr>
                            <th>Giảm giá:</th>
                            <td>{{discount}}%</td>
                          </tr>
                          <tr>
                            <th>Tổng giá gốc:</th>
                            <td>{{subTotalPrice}}</td>
                          </tr>
                          <tr>
                            <th>Tống giá</th>
                            <td class="final-price">{{totalPrice}}</td>
                          </tr>
                        </tbody>
                      </table>
                       <p class="text-danger text-center pt-1">{{errorCheckoutMessage}}</p>
                      <a class="btn -dark" href="/cart/checkout?nextURL={{currentURL}}">Proceed to checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>


