
<!-- Cart detail -->
    <div class="shop">
        <div class="container">
          <div class="cart">
            <div class="container">
              <div class="cart__table">
                <div class="cart__table__wrapper">
                  <table>
                    <colgroup>
                      <col style="width: 40%"/>
                      <col style="width: 17%"/>
                      <col style="width: 17%"/>
                      <col style="width: 17%"/>
                      <col style="width: 9%"/>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#if items}}
                      {{#each items}}
                      
                      <form class="form-cart-item-update" data-id="{{item.id}}">
                  
                      <tr>
                        <td>
                          <div class="cart-product">
                            <div class="cart-product__image"><img src="{{item.smallImagePath}}" alt="Product image"/></div>
                            <div class="cart-product__content">
                              <h5>{{item.category}}</h5><a href="product-detail?id={{item.id}}">{{item.name}}</a>
                            </div>
                          </div>
                        </td>
                        <td>{{item.price}}</td>
                        <td>
                              <input type="number" id="quantity{{item.id}}" class="form-control" min="1" max="10" value="{{quantity}}">
                        </td>
                        <td>{{price}}</td>
                        <td><button type="submit"  class="btn btn-primary -round  cart-button"><i class="fas fa-check"></i></button>
                            <button class="btn -round -red cart-button btn-cart-remove" data-id="{{item.id}}"><i class="fas fa-trash"></i></button>
                        </td>
                      </tr>
                      </form>
                      {{/each}}
                      {{/if}}
                    </tbody>
                  </table>
                </div>
                <div class="cart__table__footer"><a href="/"><i class="fal fa-long-arrow-left"></i>Continue Shopping</a><a href="#"><i class="fal fa-trash"></i>Clear Shopping Cart</a></div>
              </div>
              <div class="cart__total">
                <div class="row">
                  <div class="col-12 col-md-8">
                    <div class="cart__total__discount">
                      <p>Enter coupon code. It will be applied at checkout.</p>
                      <div class="input-validator">
                        <form class="form-apply-coupon">
                          <input type="text" id="discountCode" required="true" placeholder="Your code here"/>
                              <button class="btn -dark btn-coupon">Apply
                              </button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="cart__total__content">
                      <h3>Cart</h3>
                      <table>
                        <tbody>
                          <tr>
                            <th>Subtotal</th>
                            <td>{{totalPrice}}</td>
                          </tr>
                          <tr>
                            <th>Total</th>
                            <td class="final-price">{{totalPrice}}</td>
                          </tr>
                        </tbody>
                      </table><a class="btn -dark" href="/cart/checkout">Proceed to checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>


