<div >
      <div class="shop">
        <div class="container">
          <div class="checkout">
            
            <form action="/cart/checkout" method="POST">
            <div class="container">
              <div class="row">
            
                <div class="col-12 col-lg-8">
                    <div class="checkout__form">
                      <div class="checkout__form__shipping">
                        <p class="py-3 text-danger">{{infoErrorMessage}}</p>
                        <h5 class="checkout-title">Thông tin giao hàng</h5>
                        <div class="row">
                          <div class="col-12 col-md-6">
                            <div class="input-validator">
                              <label>Họ và tên <span>*</span>
                                <input type="text" name="fullName"  value="{{userFullName}}"/>
                              </label>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="input-validator">
                              <label>Số điện thoại<span>*</span>
                                <input type="text" name="phoneNumber"  value="{{userPhoneNumber}}"/>
                              </label>
                            </div>
                          </div>
                          <div class="col-12 ">
                            <div class="input-validator">
                              <label>Địa chỉ giao hàng<span>*</span>
                                <textarea name="shippingAddress" class="mt-3"id="shippingAddress"  cols="200" rows="4" placeholder="Địa chỉ gói hàng của bạn sẽ được giao tới"></textarea>
                              </label>
                            </div>
                          </div>                      
                          <div class="col-12">
                            <div class="input-validator">
                              <label>Order note
                                <input type="text" name="note" placeholder="Note about your order, e.g, special noe for delivery"/>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              
                </div>
                <div class="col-12 col-lg-4">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-12 ml-auto">
                      <div class="checkout__total">
                        <h5 class="checkout-title">Your order</h5>
                    
                        <div class="checkout__total__price">
                          <h5>Product</h5>
                          <table>
                            <colgroup>
                              <col style="width: 70%"/>
                              <col style="width: 30%"/>
                            </colgroup>
                            <tbody>
                              {{#each items}}
                                <tr>
                                  <td><span>{{quantity}} x </span>{{item.name}}
                                  </td>
                                <td>{{price}}</td>
                              </tr>
                              {{/each}}
                      
                            </tbody>
                          </table>
                          <div class="checkout__total__price__total-count">
                            <table>
                              <tbody>
                                 <tr>
                                  <td>Giảm giá: </td>
                                  <td>{{discount}}%</td>
                                </tr>
                                <tr>
                                  <td>Tổng tiền hàng:</td>
                                  <td>{{subTotalPrice}}</td>
                                </tr>
                                <tr>
                                  <td>Tổng thanh toán:</td>
                                  <td>{{totalPrice}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                         
                        </div>
                            <button type="submit" class="btn -red">ĐẶT HÀNG
                            </button>
                      </div>
                    </div>
                  </div>
                  
                </div>
              
              </div>
            </form>
            <div class="row">
                  <div class="col-12 col-md-8">
                    <p class="text-center text-{{couponMessageColor}}">{{couponMessage}}</p>
                    <div class="cart__total__discount">
                      <p>Nhập mã giảm giá</p>
                      <div class="input-validator">
                        <form class="form-apply-coupon" method="POST" action="/cart/coupon?nextURL={{currentURL}}">
                        
                          <input type="text" id="discountCode" name="discountCode" required="true" placeholder="Your code here"/>
                              <button type="submit" class="btn -dark btn-apply-coupon">Áp dụng
                              </button>
                        </form>
                      </div>
                    </div>
                  </div>
            </div>
            </div>
          </div>
        </div>
      </div>