<!--Deal of the week-->
    <div class="slider -style-7 slider-arrow-middle">
        <div class="slider__carousel">
            <div class="slider__carousel__item slider-1">
                <div class="container">
                    <div class="slider-background"><img class="slider-background" src="/assets/images/slider/SliderSix/1.png" alt="Slider background"/></div>
                    <div class="slider-content">
                        <div class="dow-three__content">
                            <h5>Mùa sale cuối năm</h5>
                            <h3>Giảm đến 60%</h3>
                            <a class="btn -transparent -underline" href="/shop-fullwidth-4col">Xem ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__carousel__item slider-2">
                <div class="container">
                    <div class="slider-background"><img class="slider-background" src="/assets/images/slider/SliderSix/2.png" alt="Slider background"/></div>
                    <div class="slider-content">
                        <div class="dow-three__content">
                            <h5>Deal của tuần</h5>
                            <h3>Giảm 30% các loại mỹ phẩm</h3>
                            <a class="btn -transparent -underline" href="/shop-fullwidth-4col">Xem ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__carousel__item slider-3">
                <div class="container">
                    <div class="slider-background"><img class="slider-background" src="/assets/images/slider/SliderSix/3.png" alt="Slider background"/></div>
                    <div class="slider-content">
                        <div class="dow-three__content">
                            <h5>Sinh nhật 1 năm</h5>
                            <h3>Giảm đến 40% các mặt hàng</h3>
                            <a class="btn -transparent -underline" href="/shop-fullwidth-4col">Xem ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Thông tin về dịch vụ khách hàng, vận chuyển-->
    <div class="my-5">
        <div class="benefits">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="benefits__item">
                            <div class="benefits__item__icon"><img src="/assets/images/benefits/1.png" alt="Free Shipping"/></div>
                            <div class="benefits__item__content">
                                <h5>Free Shipping</h5>
                                <p>Free shipping cho tất cả đơn trên 500k</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="benefits__item">
                            <div class="benefits__item__icon"><img src="/assets/images/benefits/2.png" alt="Valuable Gifts"/></div>
                            <div class="benefits__item__content">
                                <h5>Quà tặng đặc biệt</h5>
                                <p>Quà tri ân khi đạt mốc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="benefits__item">
                            <div class="benefits__item__icon"><img src="/assets/images/benefits/3.png" alt="All Day Support"/></div>
                            <div class="benefits__item__content">
                                <h5>Luôn sẵn sàng giúp đỡ</h5>
                                <p>Gọi: +01 234 567 89</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="benefits__item">
                            <div class="benefits__item__icon"><img src="/assets/images/benefits/4.png" alt="Seasonal Sale"/></div>
                            <div class="benefits__item__content">
                                <h5>Mùa sale huyền thoại</h5>
                                <p>Giảm đến 60% các mặt hàng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--New arrivals-->
    <div class="product-tab -style-2 mt-5">
        <div class="container">
            <div class="product-tab__header">
                <h5>Hàng mới về</h5>
                <div class="product-tab-slide__header__controller">
                    <ul>
                        <li class="active"><a href="#">Tất cả</a></li>
                        <li><a href="/shop-fullwidth-4col/perfume">nước hoa</a></li>
                        <li><a href="/shop-fullwidth-4col/cosmetic">mỹ phẩm</a></li>
                        <li><a href="/shop-fullwidth-4col/fashion">quần áo</a></li>
                        <li><a href="/shop-fullwidth-4col/skincare">Chăm sóc da</a></li>
                    </ul><a class="btn -white" href="shop-fullwidth-4col">Còn nữa</a>
                </div>
            </div>
            <div class="product-tab__content">
                <div class="product-tab_content__wrapper">
                    <div class="row mx-n1 mx-md-n3">
                        {{#each Product}}
                        <div class="col-6 col-md-3 px-1 px-md-3 mb-4">
                            <div class="product ">
                                <div class="product-type"><h5 class="-new">{{this.brand}}</h5></div>
                                <div class="product-thumb"><a class="product-thumb__image" href="product-detail"><img src="{{this.smallImagePath}}" alt="Product image"/><img src="{{this.bigImagePath}}" alt="Product image"/></a>
                                    <div class="product-thumb__actions">
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="/cart"><i class="fas fa-shopping-bag"></i></a>
                                        </div>
                                        <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-content__header">
                                        <div class="product-category">eyes</div>
                                            <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                                    </div><a class="product-name" href="product-detail">{{this.name}}</a>
                                    <div class="product-content__footer">
                                        <h5 class="product-price--main">${{this.price}}</h5>
                                        <div class="product-colors">
                                            <div class="product-colors__item" style="background-color: #8B0000"></div>
                                            <div class="product-colors__item" style="background-color: #4169E1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Best seller-->
    <div class="product-tab-slide ">
        <div class="container">
            <div class="product-tab-slide__header">
                <h5>Bán chạy</h5>
                <div class="product-tab-slide__header__controller">
                    <ul>
                        <li class="active"><a href="#">Tất cả</a></li>
                        <li><a href="/shop-fullwidth-4col/perfume">nước hoa</a></li>
                        <li><a href="/shop-fullwidth-4col/cosmetic">mỹ phẩm</a></li>
                        <li><a href="/shop-fullwidth-4col/fashion">quần áo</a></li>
                        <li><a href="/shop-fullwidth-4col/skincare">Chăm sóc da</a></li>
                    </ul>
                    <a class="btn -white" href="shop-fullwidth-4col">Còn nữa</a>
                </div>
            </div>
        </div>
        <div class="product-tab-slide__content">
            {{#each Product}}
            <div class="product-slide__item">
                <div class="product ">
                    <div class="product-type"><h5 class="-new">{{this.brand}}</h5></div>
                    <div class="product-thumb"><a class="product-thumb__image" href="product-detail"><img src="{{this.smallImagePath}}" alt="Product image"/><img src="{{this.bigImagePath}}" alt="Product image"/></a>
                        <div class="product-thumb__actions">
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-atc" href="/cart"><i class="fas fa-shopping-bag"></i></a>
                            </div>
                            <div class="product-btn"><a class="btn -white product__actions__item -round product-qv" href="#"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-content__header">
                            <div class="product-category">eyes</div>
                                <div class="rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></div>
                        </div><a class="product-name" href="product-detail">{{this.name}}</a>
                        <div class="product-content__footer">
                            <h5 class="product-price--main">{{this.price}}</h5>
                            <div class="product-colors">
                                <div class="product-colors__item" style="background-color: #8B0000"></div>
                                <div class="product-colors__item" style="background-color: #4169E1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

