    <div class="shop">
      <div class="container">
        <div class="product-detail__wrapper">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="product-detail__slide-two">
                <div class="product-detail__slide-two__big">
                  <div class="slider__item"><img src="{{product.bigImagePath}}" alt="Product image"/></div>
                  <div class="slider__item"><img src="{{product.bigImagePath}}" alt="Product image"/></div>
                  <div class="slider__item"><img src="{{product.bigImagePath}}" alt="Product image"/></div>
                  <div class="slider__item"><img src="{{product.bigImagePath}}" alt="Product image"/></div>
                </div>
                <div class="product-detail__slide-two__small">
                  <div class="slider__item"><img src="{{product.bigImagePath}}" alt="Product image"/></div>
                  <div class="slider__item"><img src="{{product.bigImagePath}}" alt="Product image"/></div>
                  <div class="slider__item"><img src="{{product.bigImagePath}}" alt="Product image"/></div>
                  <div class="slider__item"><img src="{{product.bigImagePath}}" alt="Product image"/></div>
                </div>
              </div>

  
            </div>
            <div class="col-12 col-md-6">
              <div class="product-detail__content">
                    <div class="product-detail__content">
                      <div class="product-detail__content__header">
                          <h5>{{product.Category.name}}</h5>
                        <h2>{{product.name}}</h2>
                      </div>
                      <h3>${{product.price}}</h3>
                      <div class="divider"></div>
                      <div class="product-detail__content__footer">
                        <ul>
                          <li>Nhãn hiệu: {{product.brand}}</li>
                          <li>Mã sản phẩm: {{product.id}}</li>
                          <li>Hàng tồn: {{product.stock}}</li>
                        </ul>
                        <form class="form-add-to-cart" data-id={{product.id}}>   
                          </div>
                          <div class="product-detail__controller">
                              <div class="quantity-controller -border -round">
                                <input type="number" class="border-0" id="product-quantity" class="form-control" min="1" max="{{product.stock}}" value="1" required>
                                
                              </div>
                              {{#if userLoggedIn}}
                                <button type="submit" class="btn -round -red"><i class="fas fa-shopping-bag"></i></button>
                              {{else}}                               
                                  <a class="btn -round -red" href="/user/login?nextURL=&#47;product-detail&#63;id={{product.id}}"><i class="fas fa-shopping-bag"></i></a>                      
                              {{/if}}

                          </div>
                  
                        </div>
                        </form>
                        <div class="divider"></div>
                        <div class="product-detail__content__tab">
                          <ul class="tab-content__header">
                            <li class="tab-switcher" data-tab-index="0" tabindex="0">Mô tả</li>
                          </ul>
                          <div id="allTabsContainer">
                            <div class="tab-content__item -description" data-tab-index="0">
                              <p>{{product.description}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>


<!--Rating-->
{{#if userLoggedIn}}
<div class="container">
  <div class="card">
    <div class="card-header">
    Thêm bình luận
    </div>
    <div class="card-body">
      <form action="/comment" method="POST">
        <div class="row">
          <div class="col">
            <input type="radio" id="1" name="rating" value="1">
            <label for="1"><div class="rate">1 <i class="fas fa-star"></i></div></label>
          </div>
          <div class="col">
            <input type="radio" id="2" name="rating" value="2">
            <label for="2"><div class="rate">2 <i class="fas fa-star"></i></div></label>
          </div>
          <div class="col">
            <input type="radio" id="3" name="rating" value="3">
            <label for="3"><div class="rate">3 <i class="fas fa-star"></i></div></label>
          </div>
          <div class="col">    
            <input type="radio" id="4" name="rating" value="4">
            <label for="4"><div class="rate">4 <i class="fas fa-star"></i></div></label>
          </div>
          <div class="col">
            <input type="radio" id="5" name="rating" value="5">
            <label for="5"><div class="rate">5 <i class="fas fa-star"></i></div></label>
          </div>
        </div>
      
        <div class="form-group">
          <label for="comment">Your comment:</label>
          <input type="text" class="form-control" name="comment" placeholder="">
          <input type="hidden" class="form-control" name="productID" value="{{product.id}}">
        </div>

        <input type="submit" value="Add comment">
      </form>
    </div>
  </div>
</div>
{{/if}}


<!--Comment-->
 <div class="container">
   {{#each comment}}
     <div class="row">
			<div class="col-sm-12">
				<hr/>
				<div class="review-block">
					<div class="row">
						<div class="col-sm-3">
							<div class="review-block-name">{{User.name}}</div>
							<div class="review-block-date">{{createdAt}}</div>
						</div>
						<div class="col-sm-9">
              <div class="rate">
                {{#if_eq rating 1}}
                  <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                {{else}}
                  {{#if_eq rating 2}}
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  {{else}}
                    {{#if_eq rating 3}}
                      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                    {{else}}
                      {{#if_eq rating 4}}
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                      {{else}}
                        {{#if_eq rating 5}}
                          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        {{/if_eq}}
                      {{/if_eq}}
                    {{/if_eq}}  
                  {{/if_eq}}
                {{/if_eq}}
                </div>
							<div class="review-block-title">{{text}}</div>
							{{!-- <div class="review-block-description">{{text}}</div> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
    {{/each}}
 </div>
