{{#unless userLoggedIn}}
    <div class="top-nav -style-2  pb-4">
        <div class="container">
            <div class="top-nav__wrapper">
                <div class="top-nav__wrapper__quick-links">
                    <ul>
                        <li><a href="/user/login?nextURL={{currentURL}}">Login</a></li>
                        <li><a href="/user/signup?nextURL={{currentURL}}">Signup</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{else}} 
<div class="top-nav -style-2  pb-4">
        <div class="container">
            <div class="top-nav__wrapper">
                <div class="top-nav__wrapper__quick-links">
                    <ul>               
                        <li>
                             <div class="dropdown">
                            <span class="text-white font-weight-bold">{{username}}</span>
                            <div class="dropdown-content">
                                <a href="/my_profile/edit_profile">Edit profile</a>
                                <a href="/my_profile/history">History</a>
                                <a href="/my_profile/status">Order Status </a>
                                <a href="/my_profile/address">My Address </a>
                                <a href="/my_profile/security">Security</a>
                                <a href="/my_profile/setting">Setting</a>
                            </div>
                            </div>
                        </li>
                        <li><a href="/user/logout?nextURL={{currentURL}}">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/unless}}